@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Original+Surfer&display=swap');
.in{
    position:relative;
    /* width: 90%; */
}
.ico{
    position:absolute;
    left:2px;
    top:50%;
    transform:translate(0,-50%);
    font-size: 16px;
}
input{
    box-sizing: border-box;
    padding-left:20px;
    /* margin-right:15px; */
    height: 30px;
    width: 100%;
}
input:focus{
    outline:none;
}
code{
    /* width:90%; */
    font-family: 'New Tegomin', serif;
    font-weight:bold;
    font-size:1.5rem;
    text-align: center;
}
section{
    display:flex;
    justify-content: center;
    width:min(450px,85%);
    flex-flow:row wrap;
    /* grid-template-columns:100%; */
    /* grid-gap:5px; */
   margin:0 5%;
}
section>*{
    width:100%;
    margin-top:10px;
}
button{
    background: linear-gradient(to right, #16222a, #3a6073); 
    color:white;
    border:none;
    border-radius: 5px;
    height:25px;
}
h2{
    margin-top:30px;
}
.avb{
    width:100%;
    background:rgb(230,230,230);
    height:300px;
    overflow-y:scroll;
    border:1px outset black;
    border-radius: 10px;
}

button:active{
    background:linear-gradient(to right, #3a6073, #16222a); 
}