.download-wrapper{
    display:flex;
    justify-content: center;
    width:min(450px,85%);
    flex-flow:row wrap;
    align-items:baseline;
   
   margin:0 auto;
  
}
.download{
    color:black;
    width:70%;
    text-align:center;
    margin:5px;
    
    font-size:1.5rem;
  }
  .links{
      width:25%;
      text-align:center;
     
  }
  .returnHome{
      float:left;
      position:sticky;
      position:-webkit-sticky;
      top:0;
      left:0;
      bottom:0;
      right:0;
  }
  .container{
     height:100vh;
    
    
  }
  