.download-wrapper{
    display:flex;
    justify-content: center;
    width:min(450px,85%);
    flex-flow:row wrap;
    align-items:baseline;
    /* grid-template-columns:100%; */
    /* grid-gap:5px; */
   margin:0 auto;
   /* overflow: hidden; */
}
.download{
    color:black;
    width:70%;
    text-align:center;
    margin:5px;
    
    font-size:1.5rem;
  }
  .link{
      width:25%;
      text-align:center;
     
  }
  .returnHome{
      float:left;
      position:sticky;
      position:-webkit-sticky;
      top:0;
      left:0;
      bottom:0;
      right:0;
  }
  .container{
     height:100vh;
     /* background:url('./background.jpeg'); */
     background-size:100vh 100vh;
     background-repeat: no-repeat;
     width:100vh;
  }
  html{
      /* background: url('./background.jpeg'); */
      /* background-repeat: no-repeat; */
  }