.download-wrapper{
    display:flex;
    justify-content: center;
    width:min(450px,95%);
    flex-flow:row wrap;
    align-items:baseline;
   background:white;
   margin:0 auto;
  border-radius:25px;
  overflow:scroll;
  max-height:80%;
}
.download{
    color:black;
    width:70%;
    text-align:center;
    margin:5px;
    
    font-size:1.3rem;
  }
  .links{
      width:25%;
      text-align:center;
     
  }
  .returnHome{
      float:left;
      position:sticky;
      position:-webkit-sticky;
      top:0;
      left:0;
      bottom:0;
      right:0;
  }
  .returnHome::after{
      content:"click for home page";
      position:absolute;
      /* position:absolute; */
      /* top:-5px; */
      left:5%;
     top:60%;
     font-weight:bold;
     font-size:10px;
  }
  .container{
     height:100vh;
    
    
  }
.cubeico{
    width:60px;
    height:50px;
}
.coolbg{
    background:url('./background.jpeg');
    background-size:2000px 1000px;
}
