.ham{
    float:right;
    /* position:absolute; */
    z-index: 2;
    /* margin-top:150px; */
    /* margin-right:5px; */
}
.anime{
    /* margin-right:200px; */
   animation:move 1s forwards;
}
.bar{
    width:30px;
    height:3px;
    background:black;
    /* background:rgb(2); */
    margin-bottom:3px;
    --deg:60deg;
    /* transform-origin: 0% 50%; */
    --op:1;
}
.bar:nth-child(3){
    --deg:-60deg;
    /* transform-origin: 30% 50%; */
}
.bar:nth-child(2){
    --op:0;
    opacity: 1;
    --deg:0deg;
}
.anime > .bar{
animation: rot 1s forwards;

}
/* .anime .bar:nth-child(3){
    animation: rot;
} */
@keyframes rot{
    from{
        transform: rotate(0deg);
    }
    to{
        transform:rotate(var(--deg));
        opacity: var(--op);
    }
}
@keyframes move{
    from{
        transform: translate(0,0);
    }
    to{
        transform:translate(-200px,0);
    }
}
@media only screen and (min-width:850px){
    .ham{
        display:none;
    }
    
}