@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
body,html{
  max-width:100%;
  overflow-x:hidden;

}
body{
  --bg:#151d26;
   background:white;
}
code,h2{
  --cl:white;
  --bg:transparent;
}
html{
  scroll-behavior: smooth;
}
.wrap{
  display:flex;
  justify-content: center;
  /* margin:0 auto; */
  width:100%;
}
.wrapper{
  display:grid;
  grid-template-columns: 450px 450px;
  justify-content:space-around;  

  }
 #books{
margin-top:50px;

}
#contact{
 /* margin:0 auto; */
 margin-top:50px;

} 

h1{
 
  font-family: 'Original Surfer', cursive;
  font-size:2rem;
  background:linear-gradient(to right,#283c86,#45a247);
  -webkit-background-clip:text;
  color: transparent;
  display:flex;
  justify-content: center;
  width:100%;
  text-align:center;
  filter:brightness(150%);
}
.n{
 position: relative;
}
.h{
position: absolute;
}

.clrAnime{
  animation:changeClr 0.5 forwards;
}

@media only screen and (max-width:1100px){
  :root{
    font-size: 12px;
  }
}
@media only screen and (max-width:850px){
  .wrapper{
    /* margin:0 auto; */
    grid-template-columns: auto;
    justify-content: center;
  }
  
}
@media only screen and (max-width:600px){
  :root{
    font-size: 8px;
  }
}
@keyframes changeClr {
to{
  background:var(--bg);
  color:var(--cl);
}
}
@media not all and (hover:none){
  button:hover{
    filter:brightness(80%);
  }
}