@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
.wrap{
  display:flex;
  justify-content: center;
  margin:0 auto;
}
.wrapper{
  display:grid;
  grid-template-columns: 450px 450px;
  justify-content:space-around;  

  }
 #books{
margin:0 auto;
}
#contact{
 margin:0 auto;
} 

h1{
 
  font-family: 'Original Surfer', cursive;
  font-size:2rem;
  background:linear-gradient(to right,#283c86,#45a247);
  -webkit-background-clip:text;
  color: transparent;
  text-align:center;
}
@media only screen and (max-width:1100px){
  :root{
    font-size: 12px;
  }
}
@media only screen and (max-width:850px){
  .wrapper{
    margin:0 auto;
    grid-template-columns: auto;
    justify-content: center;
  }
}
@media only screen and (max-width:600px){
  :root{
    font-size: 8px;
  }
}
