.nav{
    position:relative;
    width:0px;
    height:0px;
    border-radius:50%;
    float:right;
    background:var(--btn);
    transform:translate(50%,-50%);
    display:none;

}
.navAnime{
display:grid; 
justify-content:center;
align-items:flex-end;
animation:show 1s forwards;
text-align:center;
}
.link{
  position:absolute;
  top:50%;
  left:50%;
   transform: translate(-70%,0%); 
}
a{
    text-decoration:none;
    color:white;
    font-family:sans-serif;
    display:block;
    font-size:1.3rem;
}

@keyframes show {
  to{
      width: 300px;
      height: 300px;
  }
}
@media only screen and (min-width:850px){
    .navAnime{
        display:none;
    }
    }